  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: whitesmoke;
  }

        h1 {
            background-color: burlywood;
            color: white;
            padding: 15px 0;
            text-align: center;
            font-style: italic;
            border-radius: 8px;
            
        }

  footer {
                    background-color: burlywood;
                    color: white;
                    text-align: center;
                    padding: 10px 0;
       }

video{
    height: 300px;
}  

img{
    height: 300px;
    width: 200px;
} 

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 20px 0;
    margin: 20px 0;
    background-color: lightblue;
    border-radius: 8px;
    
}


  



input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }